<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149808100906-eh70sisu8ndkec8m14mmt8fkvbsrot6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149808100906-eh70sisu8ndkec8m14mmt8fkvbsrot6d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>149808100906-o0o1s4ip6q2qllbl37dgql62o98tir94.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrP5elUt9I3WmSIyVthu4qVG01jJg8b4I</string>
	<key>GCM_SENDER_ID</key>
	<string>149808100906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beauty.greatbeautyQueen</string>
	<key>PROJECT_ID</key>
	<string>beauty-queen-b415e</string>
	<key>STORAGE_BUCKET</key>
	<string>beauty-queen-b415e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149808100906:ios:d7f3838b5b334d600c7553</string>
</dict>
</plist>