<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636984093820-m8ecnbpcn4uvaqh1udal57q4srnt52mi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636984093820-m8ecnbpcn4uvaqh1udal57q4srnt52mi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>636984093820-b00p1rrdbssupnn415mq926t68vanobo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCv6S6nD8pVh6ZL2CjUjIr_3sslEzg_V8</string>
	<key>GCM_SENDER_ID</key>
	<string>636984093820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beauty.beautyQueen</string>
	<key>PROJECT_ID</key>
	<string>beautyqueen-93be2</string>
	<key>STORAGE_BUCKET</key>
	<string>beautyqueen-93be2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636984093820:ios:847bcfa40feec8ef282df9</string>
</dict>
</plist>