<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCv6S6nD8pVh6ZL2CjUjIr_3sslEzg_V8</string>
	<key>GCM_SENDER_ID</key>
	<string>636984093820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beautyQueen.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>beautyqueen-93be2</string>
	<key>STORAGE_BUCKET</key>
	<string>beautyqueen-93be2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636984093820:ios:528b10523a96dc76282df9</string>
</dict>
</plist>